block var

doctype html

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/style.css")
		title #{title}
	body(class=bodyClass)
		block header
			include ../components/header/index.pug
		main
			block main
		block footer
			include ../components/footer/index.pug
		script(src="./js/core/core.js")
		script(src="./js/script.js")
		script(src="./js/default/jquery.min.js")
		script(src="./js/default/slick.min.js")